<div class="container_webimg">
<p id="notice"><%= notice %></p>
    <% @notes.each do |note| %>

      <h2 class="notes_title"><%= note.title %></h2>
      <p class="notes_sub_title"><%= note.description %></p>

      <%= link_to 'Show', note %> |
      <%= link_to 'Edit', edit_note_path(note) %> |
      <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
      <li role="separator" class="divider"></li>
    <% end %>



<br>

<%= link_to 'New Note', new_note_path %>
</div>