<div class="container_webimg">
<h1 class="notes_title">IMAGE UPLOADER</h1>
<% @webimgs.each do |webimg| %>
  <div class="panel panel-success" >
     <div class="panel-heading">
       <h3 class="panel-title"><%= webimg.name %></h3>
          </div>
             
            <div class="panel-body">
            <!-- Display the avatar -->
	          <%= image_tag webimg.avatar.url(:thumb), class: 'img-rounded'%>
            <br>
            URL: <code><%= webimg.avatar.url %></code>
            </div>
  
            <div class="panel-footer">
            <%= link_to 'Destroy', webimg, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
             Created at : <%= webimg.created_at %>
            </div>

    </div>
<% end %>
  <%= render 'dialog' %>
<%= link_to 'Upload Image', new_webimg_path, remote: true, class: "btn btn-default" %>



</div>